@import "../../assets/sass/index.scss";


.image {
  width: 100%;
  max-height: 5em;
  border-radius: 3px;
  &Chuck {
    object-fit: cover;
    object-position: 100% 35%;
  }
  &Unknown {
    object-fit: contain;
  }
  @include sm {
    max-height: 9em;
  }
}
