@import "variables";
@import "buttons";
@import "mixins";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter";
  font-weight: 600;
  color: $color-dark;
  font-size: 0.95em;
  
  @include sm {
    font-size: 1em;
  }

  background-color: $color-light-gray;

}

